@import "variables";
@import "projects";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #d3cce3, #e9e4f0);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: $title-font;
}
nav {
  width: 100%;
  font-family: $text-font;

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
      a {
        padding: 1em;
        text-decoration: none;
      }
    }
  }
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
